body{
    background-color:#819DB2;
    margin: 0;
    padding: 0;
    font-family:serif;
    }
    .title{
        font-size: 50px;
        text-align:center;
        font-weight: bold;
        color:#ecece7;
        }
        h1{
        font-size: 50px;
        text-align:center;
        font-weight: bold;
        color:#ecece7;
        }
        h2{
        color:#2D4457;
        text-align: center;
        font-size:large;
        }
        h3{
        color: #2D4457;
        text-align: center;
        font-size:100px;
        }
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 15px;
}

.room img {
  width: 425px;
  height: 200px;
}
.room img:hover {
  transform: scale(1.05);
}
.design {
    display: inline-block;
    background-color: #ecece7ba;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.news-filter select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color:#2D4457;
    color: white;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-family: serif;
    }
    
    
    option {
    appearance: none;
    background: #fff;
    position: absolute;
    }
    