<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Reservation success</title>
  <link rel="stylesheet" href="../static/HotelReservationSystem.css">
</head>
<body>
<p class="title">Hotel Reservation System</p>
<h2>please check the information with the guest</h2>
<div class="result2">
  <br>
  <h3>Guest's name:
    <br>
    <br>Guest's phone number:
    <br>
    <br>Guest's desired check-in and check-out dates:
    <br>
    <br>Number of guest:
    <br>
    <br>Type of room:
    <br>
    <br> Other notes:
  </h3>
</div>

<br>
<br>
<div class="option-container">
  <a href="EnterInfo.html"><button class="submitbutton2"><span class="button-text3">Modify</span></button>
    <a href="HomePage.html" style = "text-decoration: none"><button class="submitbutton"><span class="button-text4">Confirm and return to home page</span></button>
    </a>
  </a>
</div>
</body>
</html>
