<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Check Info</title>
  <link rel="stylesheet" href="../static/HotelReservationSystem.css">
</head>
<body>
<p class="title">Hotel Reservation System</p>
<h2>please check the information with the guest</h2>
<div class="result2">
  <br>
  <h3>Guest's name:
    <br>
    <br>Guest's phone number:
    <br>
    <br>Guest's desired check-in and check-out dates:
    <br>
    <br>Number of guest:
    <br>
    <br>Type of room:
    <br>
    <br> Other notes:
  </h3>
</div>

<br>
<br>
<div class="option-container">
  <!--如果資料正確，連結到ReservationSuccess頁面-->
    <a href="ReservationSuccess.html" style = "text-decoration: none "><button class="submitbutton"><span class="button-text2">Save Information</span></button>
    </a>
  <!--如果資料不正確，連結到Wronginfo頁面-->
</div>
</body>
</html>
