<!DOCTYPE html>
<html lang="">
<head>
    <title>No room available</title>
    <link rel="stylesheet" href="../static/HotelReservationSystem.css"/>
    <meta http-equiv="refresh" content="5; url=EnterDatePeople.html"/>
</head>
<body>
<br>
<br>
<br>
<br>
<div class="alert">
    <h3>Sorry.<br></h3>
       <h3> There's no room available.
            Please check another day or room.
    </h3>
    <br>
  <!--  <a href="EnterDatePeople.html">redo search</a>-->
</div>
<br>
<br>
<br>
<br>
</body>
</html>