<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>Reservation Succeeded -- CheckInn</title>
    <link rel="stylesheet" href= "../static/HotelReservationSystem.css">
</head>
<body>
<p class="title">Room Reservation Successful</p>
<div class="result2">
    <br>
    <h3>Guest's name:</h3>
    <h3>Guest's phone number:</h3>
    <h3>Guest's desired check-in and check-out dates:</h3>
    <h3>Number of guest:</h3>
    <h3>Type of room:</h3>
    <h3>Other notes:</h3>
</div>
<br>
<br>
<div class="option-container">
    <br>
    <br>
    <a href="HomePage.html"><button class="submitbutton2"><span class="button-text3">Return to home page</span></button>
    </a>
    </div>
</body>
</html>